body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x:scroll;

}

.minHeap {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buttons {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 10px;
}

.array {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}